<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Rest API Test Suite 01">
<listeners>
		<!--  --><listener class-name="com.qa.api.gorest.listeners.ExtentReportListener" />
		<listener class-name="com.qa.api.gorest.listeners.TesultsListener" />
	</listeners>
  <test name="Rest API regression Test" parallel="classes" thread-count="3">
    <classes>
      <class name="com.qa.api.gorest.tests.Get_imgur_APITest"/>
      <class name="com.qa.api.gorest.tests.RestfulBookerHerokuapp"/>
      <class name="com.qa.api.gorest.tests.DeleteUserTest"/>
      <class name="com.qa.api.gorest.tests.CreateUserTest"/>
      <class name="com.qa.api.gorest.tests.GetUserTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
